{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
      <title>My gallery - {{title}}</title>
    {% else %}
      <title>My gallery</title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock styles %}
    
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://thumbs.dreamstime.com/b/creative-ag-letter-luxury-concept-modern-logo-design-business-company-identity-215055597.jpg" alt="logo" class="img-responsive page-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="font-size:35px;">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </div>
        </div>
      </div>
    </nav>

    <!--content-->
    {% block content %}{% endblock content %}

    <!--scripts-->
    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
    {% endblock scripts %}

  </body>
</html>