{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="text-center page-header">ALDIS GALLERY</h1>
    <!--<svg viewBox="0 0 300 300">
      <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
      <text width="500">
        <textPath xlink:href="#curve" class="text-center page-header">
          ALDIS GALLERY
        </textPath>
      </text>
    </svg>-->

    <!--Search forms-->
    <div class="row search-forms">
      <!--Filter images by category form-->
      <div class="col-md-6">
        <form action="{% url 'get_image_by_category' %}" role="search" class="">
          <fieldset>
            <div class="form-group d-flex flex-row">
              <input type="text" class="form-control search-input" placeholder="images category" name="image_category">
              <div class="form-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <!--Filter images by location taken form-->
      <div class="col-md-6 ">
        <form action="{% url 'get_image_by_location' %}" role="search" class="">
          <fieldset>
            <div class="form-group d-flex flex-row">
              <input type="text" class="form-control search-input" placeholder="location image was taken" name="image_location">
              <div class="form-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="d-flex flex-row bd-highlight content">
      {% for image_item in images %}
        <div class="row">
          <!--Displaying images and some info-->
          <div class="image-section">
            <div class="card">
              <div class="img-image">
                {% if image_item.image %}
                  <a href="{% url 'get_image_by_id' image_item.id %}"><img src="{{image_item.image.url}}" class="img-responsive" alt="Image"></a>
                {% endif %}
              </div>
              <div class="img-content">
                <h2>{{image_item.image_name}}</h2>
                <a href="{{image_item.image.url}}" target="_blank">Image link</a>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="row">
          <h2 class="text-center">There are no images to display.</h2>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}