@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
*{
  font-family: 'Scheherazade New', serif;
}

/*navbar*/
.page-logo{
  height: 5em;
  width: 5em;
  border-radius: 50%;
}
/*card styling*/
.card{
  width: 400px;
  height: 100%;
  padding: 5px;
}

/*home page styling*/
.page-header{
  color: goldenrod;
  font-size: 80px;
}
/* path {
  fill: transparent;
} */
.search-forms{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.search-input{
  border-radius: 30px;
}
.content{
  padding: 7px;
}
.image-section{
  margin: 7px;
}
img{
  height: 20em;
  width: 100%;
}