@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
*{
  font-family: 'Scheherazade New', serif;
}

/*navbar*/
.page-logo{
  height: 5em;
  width: 5em;
  border-radius: 50%;
}
/*card styling*/
.card{
  width: 400px;
  height: 100%;
  padding: 5px;
}

/*home page styling*/
.content{
  padding: 7px;
}
.image-section{
  margin: 7px;
}
img{
  height: 20em;
  width: 100%;
}